In [1]:
my_list = []

In [2]:
my_list

[]

In [3]:
type(my_list)

list

In [10]:
my_list.append("dirk")

In [12]:
my_list.remove("arie")

In [18]:
my_list

['arie', 'arie']

In [20]:
del my_list[1]

In [26]:
names_list = ['arie', 'jaap', 'dirk', 'james', 'gert']

In [30]:
# get the latest name
names_list[1:]

['jaap', 'dirk', 'james', 'gert']

In [35]:
names_list[-3:]

['dirk', 'james', 'gert']

In [51]:
names_list.sort(reverse=True)

In [52]:
names_list

['james', 'jaap', 'gert', 'dirk', 'arie']

In [54]:
sorted(names_list)

['arie', 'dirk', 'gert', 'jaap', 'james']

In [55]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [56]:
# make list unique
names_list = ['arie', 'arie', 'jaap', 'dirk', 'arie', 'james', 'gert', 'jaap']

In [60]:
names_list_unique_sorted = sorted(list(set(names_list)))
names_list_unique_sorted

['arie', 'dirk', 'gert', 'jaap', 'james']

In [61]:
# create a dictionary (1) Declaratief programmeren
person = {"name": "Arie",
          "age": 34}

In [71]:
person

{'name': 'Arie', 'age': 50}

In [63]:
person.keys()

dict_keys(['name', 'age'])

In [64]:
person.values()

dict_values(['Arie', 34])

In [65]:
person.items()

dict_items([('name', 'Arie'), ('age', 34)])

In [69]:
person['age']

34

In [70]:
person['age']  = 50
person

{'name': 'Arie', 'age': 50}

In [73]:
person['city'] = "Amsterdam"

In [74]:
person

{'name': 'Arie', 'age': 50, 'city': 'Amsterdam'}

In [76]:
if 'wife_name' in person.keys():
    print("It is already there")
else:
    print("Not there")

Not there

In [66]:
# begin with an empty dictionary (2) Imperatief programmeren
person_1 = {}

In [78]:
person_1['name'] = "Arie"
person_1['city'] = "Enschede"
person_1['age'] = 34

person_1

{'name': 'Arie', 'city': 'Enschede', 'age': 34}

In [80]:
#
person_1['hobbies'] = ['programming', 'mountainbike', 'football']

In [81]:
person_1

{'name': 'Arie',
 'city': 'Enschede',
 'age': 34,
 'hobbies': ['programming', 'mountainbike', 'football']}

In [82]:
person_1['age']

34

In [94]:
idx_football = person_1['hobbies'].index('football')
person_1['hobbies'][idx_football]

'football'